<!DOCTYPE html>
<html>
	<head>
		<title>

			MovieBooking

		</title>

		<meta charset="utf-8">
 	 	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<link rel="stylesheet" type="text/css" href="public/style.css">


	</head>
	<body style="background-color: black">
			<% include navbar.ejs %>

 	 <div class="col-xs-2">
	<form method="post" action="/adminlogged" name="adminform">
		<input type="text" class="form-control " name="username" placeholder="username..." required />
		<input type="password" class="form-control " name="password" placeholder="password...">
		<button type="submit">login</button>
	</form>
	</div>


	</body>
</html>