<!DOCTYPE html>
<html>
	<head>
		<title>

			MovieBooking

		</title>

		<meta charset="utf-8">
 	 	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<link rel="stylesheet" type="text/css" href="public/style.css">


	</head>

	<body>

		<% include navbar.ejs %>
		<table>
			<tr>
			<td width="33%"></td>
			<td width="33%">
		<form method="POST" action="/screen" >
    <%for(var i = 0 ; i< data.length ; i++){%>
		<input type="radio" name="screen" value=<%= data[i].sc_id %> checked>Screen <%=data[i].sc_id%> - <%=data[i].m_name%>
		<br>
		<%}%>
		<button type="submit">Confirm</button>
		</form>


			</td>
			<td width="33%"></td>
			</tr>
		</table>

	</body>

	</html>
