<!DOCTYPE html>
<html>
	<head>
		<title>

			MovieBooking

		</title>

		<meta charset="utf-8">
 	 	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  		<link rel="stylesheet" type="text/css" href="public/style.css">

  		</head>

	<body>
		<% include navbar.ejs %>

	<table>
			<tr>
			<td width="33%"></td>
			<td width="33%">

		<form method="POST" action="/booked" >
		<input type="text" name="name" placeholder="Enter your name...." required>
		<br>
		<input type="text" name="mobile" placeholder="Enter your mobile number.." required>
		<br>
		<button type="submit">Submit</button>
		</form>


			</td>
			<td width="33%"></td>
			</tr>
		</table>
	</body>

</html>
