


<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header" style="color: red">
    <a class="navbar-brand" href="#">Cinema Paradiso</a>
  </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/">Book Ticket</a></li>
      <li><a href="/cancellation">Cancel Ticket</a></li>
      <li><a href="/getTicketDetails">Ticket Details</a></li>
    </ul>
</nav>
